*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Tahoma, Arial;
}

.slider-container{
  margin: 10px auto;
  width: 700px;
  height: 250px;
  position: relative;

}

.slider-container img{
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  width: 100%;
  max-width: 700px;
  /* left: 50%;
  transform: translateX(-50%); */
}
.slider-container img.active{
  opacity: 1;
}
.slider-container .slide-number{
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slider-controls {
  width: 700px;
  margin: 150px auto;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
  text-align: center;
}

.slider-controls .prev{
  float: left;
}
.slider-controls .next{
  float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled{
  opacity: .2;
  cursor: no-drop;
}

.slider-controls .indicators {
  width: 60%;
  float: left;
}

.slider-controls .indicators ul{
  list-style: none;
  margin: 0;
  text-align: center;
}
.slider-controls .indicators ul li{
  display: inline-block;
  background-color: #f6f6ff;
  color: #333;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
}
.slider-controls .indicators ul li.active{
  background-color: #009688;
  color: #fff;
}